html, body {
    font-family: 'Lexend Peta', sans-serif;
    margin: 0px;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

img {
    width: 177px;
    object-fit: cover;
}

.titleBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(160, 198, 255);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    max-width: 900px;
    width: 100%;
    height: 250px;
    margin: 10px;
}

.titleBoxText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    cursor: default;
    font-size: 16px;
}

.titleBoxText a {
    text-decoration: none;
    color: black;
    transition: all 0.7s ease-out;
    border-radius: 100%;
}

.titleKontakt {
    display: flex;
    justify-content: end;
}

.titleLinks1 img,
.titleLinks2 img,
.titleLinks3 img,
.titleLinks4 img {
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 100%;
}

.titleLinks4 img {
    border-radius: 0;
}

.titleLinks1:hover img,
.titleLinks2:hover img,
.titleLinks3:hover img,
.titleLinks4:hover img {
    transform: scale(1.1);
    transition: all 0.7s ease-out;
}

.titleTextBox {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.projektBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    padding-bottom: 50px;
}

.projektCard1,
.projektCard2,
.projektCard3,
.projektCard4,
.projektCard5,
.projektCard6,
.projektCard7,
.projektCard8,
.projektCard9,
.projektCard10,
.projektCard11,
.projektCard12,
.projektCard13 {
    width: 230px;
    height: 130px;
    cursor: pointer;
    background-color: rgb(160, 198, 255);
    text-decoration: none;
    margin: 15px;
    border-radius: 25px;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: all 0.7s ease-out;
}

.projektCard1:hover,
.projektCard2:hover,
.projektCard3:hover,
.projektCard4:hover,
.projektCard5:hover,
.projektCard6:hover,
.projektCard7:hover,
.projektCard8:hover,
.projektCard9:hover,
.projektCard10:hover,
.projektCard11:hover,
.projektCard12:hover,
.projektCard13:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all 0.7s ease-out;
    background-color: rgb(160, 255, 231);
}

@media (max-width: 900px) {
    .titleBoxText {
        font-size: 10px;
    }

    .titleBox {
        border-radius: 0px;
        margin: 0px;
    }

    .titleLinks1 img,
    .titleLinks2 img,
    .titleLinks3 img,
    .titleLinks4 img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    html, body {
        padding-left: 0px;
        padding-right: 0px;
    }
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(207, 207, 207);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(160, 198, 255);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(146, 189, 255);
}